@import '../../app.scss';

.portfolio{
    position: relative;
        @include small {
            padding-right:  20px;
        }


    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 30px;


        
        @include mobile{
           padding-top: calc(100vh - 80px);
           font-size: 20px;
        }
    }
    .progressBar{
        height: 5px;
        background-color: white;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        overflow: hidden;

        
        @include mobile{
            margin-top: 40%;
            padding: 0px 20px;
         }

         @include small{
            margin-top: 30%;
         }

         @include large{
            margin-top: 20px;
         }

        .wrapper{
            max-width: 1024px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            
        @include mobile{
            flex-direction: column;
            gap: 10px;
            margin-top: 0;
            justify-content: start;
           
        }

        @include small{
            flex-direction: column;
            height: 100%;
             justify-content: start;
        }

        @include large{
            flex-direction: row;
        }

            .imageContainer{
                flex: 1;
                height: 50%;

                
            @include mobile{
                width: 100%;
                max-height: 200px;
                padding: 0 20px;
            }

            @include small{
                width: 100%;
                max-height: 300px;
                padding: 0 20px;
            }

            @include large{
                height: 50%;
            }
                img{
                    
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }


            }
        }

        

        .textContainer{
            @include mobile{
                transform: none !important;
                padding: 0 10px;
                align-items: center;
                text-align: center;
            }

            @include small{
                transform: none !important;
                max-width: 80%;
                padding:0 30px;
                align-items: center;
                text-align: center;
            }

            @include large{
                flex: 1;
                display: flex;
                flex-direction: column;
                height: 50%;
                text-align: left;
                align-items: flex-start;
                justify-content: center;
                padding: 5px 20px;
               
            }

            h2{
                font-size: 56px;

                    
            @include mobile{
                font-size: 30px;
                margin-bottom: 10px;
                
            }

            @include small{
                margin-bottom: 16px;
            }

            @include large{
                font-size: 40px;
                padding-top: 0;
                margin-bottom: 6px;

            }
            }

            p{
                color: gray;
                font-size: 20px;

                @include mobile{
                    font-size: 14px;
                    margin-bottom: 20px;
                    
                }

                @include small{
                    margin-bottom: 16px;
                }

                @include large{
                    margin-bottom: 8px;
                }
            }

            button{
                background-color: orange;
                border: none;
                border-radius: 10px;
                padding: 10px 0;
                width: 100px;
                cursor: pointer;

                @include small{
                    width: 160px;
                    padding: 16px 0;
                }

                @include large{
                    width: 100px;
                    padding: 10px 0;
                }
            }
        }
    }
}